/**
 * css reset
 */

/**
 * 모든 요소 (*), 모든 before, after 가상 선택자에 border-box를 적용함
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    min-width: 1060px;
}
/* header */
.header {
    background: yellow;
}
.container {
    max-width: 1400px;
    background: red;
}

/* main */
.main {
    background: lime;
}
.hero-section {
    background: aqua;
}
.main-content {
    background: blue;
    float: left;
    width: 70%;
}
.side-content {
    background: pink;
    float: right;
    width: 30%;
}

/* content-info */
.content-info {
    background: green;
}
.links {
    background: lightgreen;
}
.footer {
    background: purple;
}